@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Megrim&display=swap');
:root {
    --primary: #aaccf6;
    --accent: #ce7f10;
    --main: #0C3B5D;
    --light: #1c4d65;
    --dark: #02111c;
    --vh: 1vh;
}



html {
    width: 100vw;
    overflow-x: hidden;
    background-color: #02111c;
    -ms-overflow-style: none;  /* IE and Edge */
    background-color: var(--dark);
    scroll-behavior: smooth;
}

html.hiddenScroll {
    scrollbar-width: none;  /* Firefox */
}
html.hiddenScroll::-webkit-scrollbar {
    display: none;
}



body {
    position: relative;
    overflow-x: hidden;
    top: 0;
    left: 0;
    min-height: calc(var(--vh, 1vh) * 100);
    height: fit-content;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: transparent;
    color: var(--primary);
    transition: .25s;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    transition: .25s;
    font-family: 'Megrim', cursive;
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
        
}
#canvas::-webkit-scrollbar {
    display: none;
}

#pageTitle {
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent);
    white-space: nowrap;
    font-size: 8vw;
    font-family: 'Megrim', cursive;
}
#pageTitle.home {
    font-size: 10vw;
    top: 30vh;
}
#background {
    z-index: -1;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: calc((var(--vh, 1vh) * 100));
    width: 100vw;
    background-image: linear-gradient(to top, #02111c, #031421, #041625, #05182a, #051a2f, #071f35, #08233c, #0a2842, #0e314b, #123a54, #17435c, #1c4d65);
}
#main {
    position: relative;
    padding: 7rem 1rem;
    top: 0;
    left: 0;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    height: fit-content;
    transition: .5s;
    z-index: 1;
}

#homeHeader {
    position: absolute;
    color: var(--accent);
    text-align: center;
    top: 60%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
}
#homeHeader h1 {
    font-size: 6vw;
    margin: 0;
}
#homeHeader p {
    margin: 0;
}
#scollHint {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}


#desktopNav {
    z-index: 3;
    position: absolute;
    top: 0;
    padding: 0 1rem;
}

#desktopNav .nav-item {
    position: relative;
    padding: .1rem 0 0 0;
    display: flex;
    width: 6rem;
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    margin: 0 .5rem;
}
#desktopNav .nav-item.pageSelected .button {
    color: var(--accent);
}
#desktopNav .nav-item span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#desktopSelector {
    position: absolute;
    height: 2px;
    width: 6rem;
    background: var(--accent);
    bottom: -.25rem;
    right: 21.5rem;
    opacity: 0;
    transition: .25s;
    z-index: 5
}

#desktopNav .nav-item:nth-child(1).pageSelected ~ #desktopSelector{
    opacity: 1;
    transition: .25s;
}

#desktopNav .nav-item:nth-child(2).pageSelected ~ #desktopSelector{
    opacity: 1;
    right: 14.5rem;
    transition: .25s;
}
#desktopNav .nav-item:nth-child(3).pageSelected ~ #desktopSelector{
    opacity: 1;
    right: 7.5rem;
    transition: .25s;
}
#desktopNav .nav-item:nth-child(4).pageSelected ~ #desktopSelector{
    opacity: 1;
    right: .5rem;
    transition: .25s;
}


a.plain {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
a.plain:hover {
    opacity: .8;
}
a svg, p svg {
    opacity: .75;
    overflow: visible;
    margin: -3px 5px 0 5px;
    pointer-events: none;
}
a svg path {
    pointer-events: none;
}
a.plain.light {
    color: var(--primary);
}

.button {
    position: relative;
    background: var(--main);
    color: var(--primary);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: .5rem 1rem;
    height: 2rem;
    border-radius: 2px;
    cursor: pointer;
    transition: .25s;
}
.button:hover {
    color: var(--accent);
    transition: .25s;
}

.mobile-button {
    padding: .5rem;
    border-radius: 4px;
    background-color: var(--accent);
    color: var(--dark) !important;
    text-align: center;
    font-size: 10pt;
    text-decoration: none;
    display: inline-block;
}
.mobile-button.light {
    background-color: var(--primary);
}
.portfolio-resume-button {
    width: 100%;
}

.panel {
    position: relative;
    background: var(--main);
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 0 4px #00000050;
    color: var(--primary);
}

.panel h3 {
    padding: 2vw 1vw 1vw 2vw;
    font-size: 11pt;
    white-space: nowrap;
    text-align: center;
    color: var(--accent);
}
.panel figure {
    position: relative;
    left: 0;
    width: 100%;
    padding-bottom: 56%;
    transition: .5s;
    background-color: var(--dark);
    overflow: hidden;
}
.panel:not(.details) {
    cursor: pointer;
}
.panel figure::after {
    content: 'View Details';
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    opacity: 0;
    transition: .5s;
}
.panel:not(.details):hover figure {
    width: 110%;
    left: -5%;
    border-radius: 2px;
    transition: .5s;
}
.panel:not(.details):hover figure::after {
    opacity: 1;
    transition: .5s;
}
.panel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .25s;
}
.panel:not(.details):hover img {
    opacity: .15;
    transition: .5s;
}

.panel p, .panel ul {
    font-size: 10pt;
    padding: 0 1vw;
}

.work-item-details {
    position: fixed;
    top: 0;
    left: 0;
    height: calc((var(--vh, 1vh) * 100));
    width: 100vw;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}
    
.work-item-details .background {
    background-color: #000000;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.work-item-details.show, .work-item-details:target {
    opacity: 1;
    pointer-events: all;
    transition: .25s;
}
.work-item-details .panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85vw;
    height: calc(var(--vh, 1vh) * 80);
    transform: translate(-50%, -50%);
    min-width: 260px;
    background-image: linear-gradient(to right top, #02111c, #0c1f2d, #122e3f, #173d52, #1c4d65);
    overflow: auto;
    transition: .25s;
    padding-bottom: 2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.work-item-details .panel::-webkit-scrollbar {
    display: none;
  }
.work-item-details.show .panel {
    position: fixed;
}
.work-item-details h3 {
    font-size:  16pt;
    padding: 2vw;
}
.work-item-details h4 {
    margin: 0;
    color: var(--accent);
    font-size: 10pt;
}
.work-item-details figure {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
/* .work-item-details img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
} */
.work-item-details p, .work-item-details h4 {
    padding: 0 2vw;
}
.work-item-details ul {
    padding: 0 calc(2vw + 12px)
}

#social {
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 1.5rem;
    padding: 0;
    z-index: 6;
}



#social svg {
    position: relative;
    color: var(--primary);
    height: 1.5rem;
    width: 1.5rem;
    transition: .25s;
}
#social a:hover svg {
    color: var(--accent);
    transition: .25s;
}
a {
    color: var(--primary);
    transition: .25s;
    text-decoration: none;
}
a:hover {
    color: var(--accent) !important;
    transition: .25s;
}

#mobileNav {
    position: absolute;
    z-index: 5;
    top: 0;
}
#toggle {
    position: absolute;
    right: 1.5rem;
    top: .25rem;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 6;
}
.mobile-toggle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
}
.bar1, .bar2 {
    position: absolute;
    width: 2rem;
    height: .175rem;
    left: .25rem;
    background-color: var(--primary);
    opacity: .8;
    margin: 0;
    transition: 0.4s;
}
.bar1 {
    top: .76rem;
}
.bar2 {
    bottom: .76rem;
}
#mobileNavBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
}

#mobileNavMenu {
    position: fixed;
    top: 0;
    right: -120%;
    width: 50vw;
    height: calc(var(--vh, 1vh) * 100);
    background: var(--main);
    padding-top: 3rem;
    transition: .5s;
    pointer-events: none;
}
#mobileNavMenu .nav-item {
    position: relative;
    display: block;
    height: 2.5rem;
    margin: .5rem 0;
    font-size: 14pt;
    width: 100%;
    z-index: 1;
}

#mobileNavMenu .nav-item.pageSelected {
    color: var(--accent);
    transition: .25s;
}

#mobileNavMenu .nav-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-toggled #toggle, #body:target #toggle {
    position: fixed;
}
.mobile-toggled #mobileNavBack, #body:target #mobileNavBack {
    pointer-events: all;
    opacity: .8;
    transition: .25s;
}
.mobile-toggled #mobileNavMenu, #body:target #mobileNavMenu {
    pointer-events: all;
    right: 0;
    transition: .25s;
}

#body:target #mobileToggle {
    opacity: 0;
    pointer-events: none;
    transition: .25s;
}
#body:not(:target) #mobileToggle {
    opacity: 1;
    pointer-events: all;
    transition: .25s;
}
#body:target #mobileToggle2 {
    opacity: 1;
    pointer-events: all;
    transition: .25s;
}
#body:not(:target) #mobileToggle2 {
    opacity: 0;
    pointer-events: none;
    transition: .25s;
}

.mobile-toggled .bar1, #body:target .bar1 {
    top: 1.2rem;
    transform: rotate(45deg);
    transition: 0.4s;
}

.mobile-toggled .bar2, #body:target .bar2 {
    bottom: 1.2rem;
    transform: rotate(-45deg);
    transition: 0.4s;
}

#mobileSelector {
    position: absolute;
    top: 3.5rem;
    width: 7rem;
    height: 2.5rem;
    left: 50%;
    border-radius: 4px;
    transform: translateX(-50%);
    background: var(--primary);
    opacity: 0;
    transition: .25s;
}

#mobileNavMenu .nav-item:nth-child(1).pageSelected ~ #mobileSelector {
    opacity: 1;
    transition: .25s;
}
#mobileNavMenu .nav-item:nth-child(2).pageSelected ~ #mobileSelector {
    opacity: 1;
    top: 6.5rem;
    transition: .25s;
}
#mobileNavMenu .nav-item:nth-child(3).pageSelected ~ #mobileSelector {
    opacity: 1;
    top: 9.5rem;
    transition: .25s;
}
#mobileNavMenu .nav-item:nth-child(4).pageSelected ~ #mobileSelector {
    opacity: 1;
    top: 12.5rem;
    transition: .25s;
}

#myScrollBar {
    position: fixed;
    top: 0;
    right: 4px;
    height: calc((var(--vh, 1vh) * 50));
    width: 3px;
    border-radius: 5px;
    opacity: 0;
    background: var(--primary);
    cursor: pointer;
    pointer-events: none;
    /* transition: .15s; */
}

#scrollHint {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: all;
    height: 2rem;
    transition: .2s;
}

.shift {
    position: relative;
    height: fit-content;
    transform: translateX(0);
    opacity: 1;
    transition: .75s;
}
.shift.hide.left {
    transform: translateX(-200%);
    transition: 0;
}
.shift.hide {
    transform: translateX(200%);
    opacity: 0;
    transition: 0;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(var(--vh, 1vh) * 20);
    width: calc(var(--vh, 1vh) * 20);
    opacity: 0;
    pointer-events: none;
}
#loader.loading {
    opacity: 1;
    transition: .25;
}
#loader::after {
    content: 'Loading';
    display: block;
    text-align: center;
    padding-top: 1rem;
    
}
#loader.loading::after {
    animation-name: loaderText;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes loaderText {
    0% {content: 'Loading'}
    25% {content: 'Loading .'}
    50% {content: 'Loading . .'}
    75% {content: 'Loading . . .'}
    100% {content: 'Loading'}
}
#loader #circle {
    position: relative;
    height: calc(var(--vh, 1vh) * 20);
    width: calc(var(--vh, 1vh) * 20); 
}
#loader.loading #circle {
    animation-name: loaderCircle;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes loaderCircle {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
#loader #circle::before {
    content: "";
    display: block;
    height: calc(var(--vh, 1vh) * 10);
    width: calc(var(--vh, 1vh) * 20);
    border-radius: calc(var(--vh, 1vh) * 10) calc(var(--vh, 1vh) * 10) 0 0;
    border: 4px solid var(--primary);
    border-bottom: 0;
}

#pageError {
    position: absolute;
    color: var(--accent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}
#pageError p {
    margin: 0 0 8px 0;
    font-size: 4vw;
}

.stopParticles {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}
.stopParticles.desktop {
    display: none;
}
.shadow {
    box-shadow: none !important;
}

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    #main {
        padding-top: 20vh;
    }
    #pageError {
        font-size: 5vw;
    }
    #pageError p {
        font-size: 2vw;
    }
    .mobile-button {
        padding: initial;
        background-color: transparent !important;
        color: inherit !important;
    }
    .portfolio-resume-button {
        width: auto;
    }
    #scrollHint {

        bottom: 20%;

        /* animation-name: gainAttention;
        animation-duration: 1s;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out;
        animation-delay: 5s; */
    }
    @keyframes gainAttention {
        0% {transform: translateX(-50%);}
        50% {transform: translateX(-45%);}
        100% {transform: translateX(-50%);}
    }
    #pageTitle {
        top: 3.5rem;
        font-size: 5vw;
    }
    #pageTitle.home {
        font-size: 8vw;
    }
    #scrollHint a {
        color: var(--primary) !important;
    }
    #homeHeader h1 {
        font-size: 21pt;
    }
    .panel h3 {
        font-size: 14pt;
    }
    .work-item-details h3 {
        font-size: 16pt;
    }
    .work-item-details h4 {
        font-size: 14pt;
    }
    #social {
        position: fixed;
    }
    .nav-item {
        line-height: 1;
        width: 6rem;
    }
    .stopParticles.desktop {
        position: absolute;
        display: block;
        top: .25rem;
        left: 8rem;
        width: fit-content;
        text-align: center;
        cursor: pointer;
        z-index: 10;
    }
    .effect-tilt {
        width: fit-content;
    }
    .effect-tilt .button {
        background: transparent;
        line-height: 1;
        min-width: 6rem;
    }
    .effect-tilt:hover .button {
        background: var(--main);
    }
    /* .pageSelected .effect-tilt:hover .button {
        background: transparent;
    } */
    .effect-tilt {
        position: relative;
        height: 2rem;
    }
    .effect-tilt span {
        pointer-events: none;
    }
    .effect-tilt .shadow {
        position: absolute;
        background: transparent;
        top: .08rem;
        left: 0;
        width: 100%;
        z-index: -1;
        opacity: .5;
        box-shadow: none;
        height: 1.9rem;
    }
    .effect-tilt:hover .shadow {
        background: black;
    }
    .pageSelected .effect-tilt:hover .shadow {
        background: transparent;
    }
}
@media (min-width: 992px) {
    .panel h3 {
        font-size: 13pt;
        padding: 1.5vw 1vw 1vw 1vw;
    }
}    
@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}


