h1#pageTitle(data-x='50' data-y='12' data-fontSize='5' data-gap='2' data-size='2') My Portfolio
section(class='container')
    div(class='row')
        div(class='col')
            header(class='mb-4')
                a(href="#" class='plain mobile-button light') View My Full Resume 

            section(class='row work-items animation shift')
                for item in data 
                    div(class='col-12 col-md-4 mb-4')
                        div(class='panel')
                            header
                                h3= item.title
                            figure
                                img(src=item.image, alt='NRJohnson - ' + item.title)
                            p= item.statement
                            div(class='col-12 p-2 pb-md-4')
                                a(class='panel-link plain mobile-button light w-100' href="#" + item._id data-id=item._id) View Details

for item in data
    include ../includes/panel.pug
                    
        